@media screen and (max-width: 390px ) {
    body {
      margin-top: -55px;
      position: fixed;
      bottom: 40;
      width: 100%;
      padding: 0px ;
      text-align: center;
      background-color: white;
    }
  
    footer {
      margin-bottom: 100px;
    }
}

   