<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Sharing Bill</title>
  </head>
  <div class="page">
    <body [@fadeIn]="fadeInState">
      <header>
        <nav class="flex items-center justify-between">
          <button routerLink="/splitbill" class="items-center ml-6">
            <img src="./assets/back.svg" alt="Back" class="mt-12 w-6 h-6" />
          </button>
          <p class="text-gray-600 text-lg font-bold mt-12">Sharing Bill</p>
          <button routerLink="/home" class="items-center mt-12 mr-6">
            <img src="./assets/home.svg" alt="Home" class="w-6 h-6" />
          </button>
        </nav>
      </header>

      <div style="max-height: 700px; overflow-y: auto">
        <div class="ml-6 mr-6">
          <table class="w-full rounded-lg border border-[#D8D8D8] mt-8">
            <thead>
              <div
                class="text-black text-md font-semibold font-['Open Sans'] mx-4 my-2"
              >
                IKKUDO ICHI - Central Park
              </div>
              <div class="flex mt-2 mb-2 ml-4">
                <p
                  class="text-black text-xs font-regular font-['Open Sans'] mr-2"
                >
                  13/01/2024
                </p>
                <p class="text-black text-xs font-regular font-['Open Sans']">
                  17:07 WIB
                </p>
              </div>
              <hr class="border-[#D8D8D8] w-full" />
            </thead>

            <tbody>
              <tr *ngFor="let item of data">
                <td>
                  <div class="mx-4 my-2">
                    <p
                      class="text-black text-sm font-semibold font-['Open Sans']"
                    >
                      {{ item.itemName }}
                    </p>
                    <div class="flex justify-end">
                      <div
                        class="text-black text-xs font-regular font-['Open Sans'] mx-20 mt-2"
                      >
                        {{ item.quantity }} X
                      </div>
                      <div
                        class="text-black text-xs font-regular font-['Open Sans'] mt-2"
                      >
                        {{ item.price }}
                      </div>
                    </div>
                  </div>
                  <hr class="border-[#D8D8D8] mx-4" />
                </td>
              </tr>
              <div class="flex justify-between mx-4 my-4">
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  Sub Total
                </div>
                <div class="black text font-regular font-['Open Sans'] text-xs">
                  370,000
                </div>
              </div>
              <div class="flex justify-between mx-4 my-4">
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  Pajak
                </div>
                <div class="black text font-regular font-['Open Sans'] text-xs">
                  39,950
                </div>
              </div>
              <div class="flex justify-between mx-4 my-4">
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  Biaya Layanan
                </div>
                <div class="black text font-regular font-['Open Sans'] text-xs">
                  25,900
                </div>
              </div>
              <div class="flex justify-between mx-4 my-4">
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  Diskon
                </div>
                <div class="black text font-regular font-['Open Sans'] text-xs">
                  0
                </div>
              </div>
              <div class="flex justify-between mx-4 my-4">
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  Total
                </div>
                <div
                  class="black text font-semibold font-['Open Sans'] text-sm"
                >
                  435,500
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>
      <div class="flex justify-between mx-6 my-8">
        <button
          class="rounded-lg bg-[#717892] p-2 font-['Open Sans'] font-semibold text-white w-80 mr-2"
          routerLink="/editbill"
        >
          Edit Bill
        </button>
        <button
          class="rounded-lg bg-[#40787F] p-2 font-['Open Sans'] font-semibold text-white w-80"
        >
          Konfirmasi
        </button>
      </div>
    </body>
  </div>
</html>
