<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Login</title>
  </head>
  <body class="page">
    <div>
      <img
        [@imageAnimation]="animationState"
        src="../../../assets/layout1.svg"
        alt="layout1"
      />
    </div>
    <div class="flex justify-center">
      <div class="bni flex justify-center fixed bottom-40">
        <img
          [@fadeOut]="fadeOutState"
          src="../../../assets/bnilogin.svg"
          alt="bnilogin"
        />
      </div>
    </div>
  </body>
</html>
