<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Summary</title>
  </head>
  <div class="page">
    <body [@fadeIn]="fadeInState">
      <header>
        <nav class="flex items-center justify-between">
          <button routerLink="/pln" class="items-center mt-12 ml-6">
            <img src="./assets/back.svg" alt="Back" class="w-6 h-6" />
          </button>
          <p class="text-gray-600 text-lg font-bold mt-12">PLN Pascabayar</p>
          <button routerLink="/home" class="items-center mt-12 mr-6">
            <img src="./assets/home.svg" alt="Home" class="w-6 h-6" />
          </button>
        </nav>
      </header>
      <main class="mt-8">
        <p class="text-gray-600 text-md text-center mb-2 font-bold">
          Nominal Tagihan
        </p>
        <div
          class="pt-2 pb-2 rounded-md bg-[#F15A23] ml-40 mr-40 right-0 text-center text-[#f2f2f2]"
        >
          Rp. 30.000
        </div>

        <div class="m-8">
          <div class="border shadow-md p-6 rounded">
            <div class="flex flex-col items-start">
              <div class="flex justify-between w-full">
                <p class="font-normal mb-1 text-sm text-[#40787F]">
                  Sumber Dana
                </p>
                <p
                  class="font-normal mb-1 text-sm text-right text-black ml-auto"
                >
                  Tabungan / Giro<br />{{ rekening }}
                </p>
              </div>

              <div class="mt-1 flex justify-between w-full">
                <p class="font-normal mb-1 text-sm text-[#40787F]">IDPEL</p>
                <p class="font-normal mb-1 text-sm text-black ml-auto">
                  {{ idpel }}
                </p>
              </div>

              <div class="mt-1 flex justify-between w-full">
                <p class="font-normal mb-1 text-sm text-[#40787F]">Nama</p>
                <p class="font-normal mb-1 text-sm text-black ml-auto">
                  SYE** ** **
                </p>
              </div>

              <div class="mt-1 flex justify-between w-full">
                <p class="font-normal mb-1 text-sm text-[#40787F]">
                  Total Lembar Tagihan
                </p>
                <p class="font-normal mb-1 text-sm text-black ml-auto">1</p>
              </div>

              <div class="mt-1 flex justify-between w-full">
                <p class="font-normal mb-1 text-sm text-[#40787F]">BL/TH</p>
                <p class="font-normal mb-1 text-sm text-black ml-auto">
                  JAN 2024
                </p>
              </div>
            </div>

            <hr class="border-b mt-2 border-gray-100" />

            <div class="flex flex-col items-start">
              <div class="mt-2 flex justify-between w-full">
                <p class="font-semibold mb-1 text-sm text-[#40787F]">
                  Admin Bank
                </p>
                <p class="font-normal mb-1 text-sm text-black ml-auto">
                  Rp 3,000
                </p>
              </div>

              <div class="mt-2 flex justify-between w-full bg-[#40787F]">
                <p class="font-semibold mb-1 text-sm text-[#f2f2f2]">
                  Total Bayar
                </p>
                <p class="font-normal mb-1 text-sm text-[#f2f2f2] ml-auto">
                  Rp 33,000
                </p>
              </div>
              <p class="font-semibold mt-2 mb-1 text-sm text-[#40787F]">
                Password Transaksi
              </p>
              <input
                type="password"
                class="w-full mt-2 border-b text-sm focus:outline-none focus:border-[#40787F]"
                placeholder="Masukkan Password Anda"
                [(ngModel)]="password"
                required
              />

              <div
                *ngIf="!password && submitted"
                class="text-red-500 text-xs mt-1"
              >
                Password is required
              </div>
            </div>
          </div>

          <button
            class="shadow-sm bg-[#40787F] w-full text-white font-semibold font-['Open Sans'] py-2 px-4 mt-4 rounded-lg"
            (click)="onConfirmButtonClicked()"
          >
            Konfirmasi
          </button>
        </div>
      </main>
    </body>
  </div>
</html>
